{% extends 'base.html.twig' %}

{% block title %}Agence Lorem Ipsum{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Lorem Ipsum</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate enim fuga hic incidunt molestias,
            praesentium sed voluptatibus. Dignissimos, fugiat, sunt?</p>
    </div>

    <div class="container">
        <h2>Mes derniers bien</h2>
        <div class="row">
            {% for property in properties %}
                {# @var property \App\Entity\Property  #}
                <div class="card col-md-3 mx-1">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('property_show', {'slug': property.slug, 'id': property.id}) }}">{{ property.title }}</a>
                        </h5>

                        <p class="card-text">
                            {{ property.city }} {{ property.postalCode }}
                        </p>

                        <div class="text-primary"
                             style="font-weight: bold; font-size: 2rem">{{ property.formatedPrice }}€
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
